{
  "singleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "clsx",
    "cva",
    "cn"
  ],
  "tailwindAttributes": [
    "classNames"
  ]
}